*{
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.header{
    background-color:rgb(19,25,33) ;
    height: 69px;
    color: white;
}
.container{
    width: 98%;
    height: 100%;
    margin: auto;

}
.container-header{
    display: flex;
    align-items: center;
}
.logo-container{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;

}
.logo{
    height: 50px;
    width: 120px; 
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png');
    background-repeat:no-repeat ;
    background-position-y:-40px ;
    overflow: hidden;

}

.dot{
    position: relative;
    margin-left: -13px;
    margin-top: -10px;
}
.border-white{
    padding: 5px;
    border: 1.5px solid transparent;
    

}
.border-white:hover{
    border: 1.5px solid #ffffff;
}

.address-container{
    margin-left: 15px;

}
.address-cnr p{
    margin: 0;
    /* font-weight: 200px; */
}
.icon-ads{
    display: flex;
    align-items: center;
}
.hi{
    font-size: 1rem;
    padding-left: 25px;
    color: white;
}
.icon-location{
    margin-right: 7px;
}
.search-container{
    background-color: rgb(232, 185, 185);
    margin-left: 25px;
    width: 940px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
    
}
.search-container:hover{
    outline: 3px solid orange;
}
.search-select{
    width: 60px;
    border: none;
    background-color: darkgrey;

}
.search-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 1rem;

}
.search-icon{
    width: 80px;
    background-color:rgb(236, 170, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* text-align: center; */
    color: black;

}
.language-container{
    margin-left: 75px ;
}
.language-container p{
    font-size: 1.2rem;
    margin: 0;

}
.language-image{
    width: 25px;
}
.language-image img{
    width: 100%;

}
.login-container{
    margin-left: 15px;

}
.login-container p{
    margin: 0;

}
.account{
    font-weight: 900;
    font-size: 1.2rem;
}
.return-container{
    width: 80px;
    font-size: 1.2rem;
    margin-left: 15px;
}
.return-container p{
    margin: 0;
}
.order{
    font-size: 1.2rem;
    font-weight: 900;
    display: flex;
    width: 75px;
}
.cart-container{
    font-size: 1.2rem;
    display: flex;
}
.cart-container i{
    font-size: 1.5rem;
}
.nav{
    height: 49px;
    background-color:rgb(35,47,61);
    margin: 0;
    padding: 0.1px;
    /* color: #ffffff;   */
    font-weight: 200;
}

.new{
    color: #ffffff;
}
.container-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}
.container-nav ul{
    padding: 0;
    /* margin: 0; */
    display: flex;
    align-items:center ;
    height: 100%;
    /* font-size: 1.2rem; */
    color: #ffffff;
    list-style: none;

}
.container-nav ul li a{
    color: #ffffff;
    text-decoration: none;
    /* padding: 10px 6.2px; */
    margin-right: 30px;
    font-size: 20px;
}
.nav-right-image-amazon-prime{
    min-width: 300px;
    height: 300;
    max-width: 500px;
}
.nav-right-image-amazon-prime img{
    width: 100%;
    height: 100%;
}

.image-container{
    position: relative;
}
.image-list{
    display: flex;
    overflow: hidden;
}
.image-item{
    min-width: 100%;
    height: 740px;
    transition: transform 0.3s;
}
.image-item img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.tdy{
    margin-left: 20px;
}
.main{
    position: relative;
    top: -300px;
}

.card-product-container{
    padding: 0px;
    display: flex;

    

}
.card-product{
    background-color:rgb(247, 245, 245);
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    max-width: 380px;
    /* box-shadow: -10px -10px 10px rgba(255,255,0255,0.5),
    50px 50px 40px rgba(249, 244, 244, 0.5); */
    padding: 12px;

  
}
.card-product h2{
    margin: 0;
    padding: 10px;

}

.card-product-nested-card{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-auto-rows: auto;
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    
}

.card-nested p{
    margin: 5px;


}
.card-nested img{
    width: 120px;
    height: 102px;
    object-fit: cover;

}
.card-product-btn{
    font-size: 14px;
    align-self: flex-start;
    margin:7px 10px ;
    padding-left: 0;
    background-color: transparent;
    border: none;
    color: aqua;
}
.r{
    color: blue;
}
.today-deals-container{
    margin: 32;
    background-color: white;
}
.today-heading{
    display: flex;
    align-items: center;
    padding: 2px 30px;
}
.today{
    margin: 3px;
}
.today-b{
    display: flex;
    align-items: center;
    padding: 2px 30px; 
}

.deals{
    display: flex;
}
.limited{
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;

}
.sign{
    background-color: #ffffff;
    border: 0.2px solid rgba(0, 0, 0, 0.252) ;
    margin:10px;
    width: 95%;
    height: 10rem;
    text-align: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}
.sign-button{
    background-color:#febd68;
    width: 17%;
    height: 40px;
    border-radius: 8px;
}
.foot-1{
    background-color:#37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.palajirani{
    height: 20px;

}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}
    
.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
    
ul {
    margin-top: 20px;
}
    
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.f3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.lg {
    height: 50px;
    width: 150px; 
    background-repeat:no-repeat ;
    background-position-y:-40px ;
    overflow: hidden;
}
.button{
    height: 40px;
    width: 100px;
    background-color: #222f3d;
}
.a-f{
    background-color: #222f3d;
    color: #ffffff;
    padding-left: 200px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    
}
.Rani{
    background-color: #222f3d;
    color: #ffffff;
    display: flex;
    padding-bottom: 20px;
    justify-content:center;
    gap:40px ;
}
.f4{
    background-color: #1d1b23;
    color: white;
    height: 420px;
    display: grid;
    grid-template-columns:repeat(4,300px);
    text-align: center;
    justify-content: space-evenly; 
}
.f4 ul{ 
    margin-top: 20px;
}
.f-4 ul{
    display: block;
    font-size: 1.2rem;
    margin-top: 10px;
    color:#bebfc1;
    text-decoration:none;
    text-align: left;
} 
.f-p4 a{
    font-size: 1.3rem;
    line-height: 10px;
    text-align: left;
}
    
.copyright{
    padding-top: 25px;
    margin-top: 20px;
    width: 90vw;
    display: grid;
    place-items: center;
}
.language {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
}
    
.lang img {
    width: 100%;
    margin-right: 10px;
    padding-bottom: 5%;
}
    
.nav-signin i {
    
    position: relative;
    left: 100px;
    top: -15px
}
    
.lang  {
    margin-left: 10px;
}
.nav-signin {
        margin-top: 20px;
}
